* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: "Roboto", sans-serif;
}

header {
  margin: 1em auto;
  inline-size: 90%;
  background-color: #90ee90;
  padding: 1em 1em;
  font-family: "Indie Flower", cursive;
}

ul {
  text-transform: uppercase;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

ul li {
  font-size: 0.7em;
  width: 33%;
  text-align: center;
  border-right: 1px solid #000;
}

ul li:last-child {
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-shadow: 1px 1px 4px #000;
}

main {
  width: 90%;
  margin: auto;
}

h2 {
  text-shadow: 3px 3px 8px #000;
  margin: 1em 2em;
}

h3 {
  text-shadow: 0 0 0;
}

p {
  margin: 2rem;
}

.images {
  margin: 0 auto;
  inline-size: 100%;
}

figure {
  padding: 1em;
  text-align: center;
}

img {
  inline-size: 100%;
  margin-bottom: 1em;
}

.wazig {
  opacity: 0.5;
}

.breakline {
  margin: 2em 2em;
  border: 1px solid;
  border-image: linear-gradient(90deg, #000 0%, #fff 50%, #000 100%);
  border-image-slice: 1;
  clear: both;
}

.blokcontainer1 {
  margin-left: calc(50% - 41vw);
  float: left;
}

.blokcontainer2 {
  margin-right: calc(50% - 41vw);
  float: right;
  margin-bottom: 1em;
}

.blokje {
  font-family: "Pacifico", cursive;
  font-size: 2em;
  margin-bottom: 1em;
  inline-size: 40vw;
  block-size: 40vw;
  text-align: center;
  line-height: 40vw;
  border: 2px solid #00f;
  border-radius: 8px;
  background-image: radial-gradient(circle, #888 55%, #03f 55%);
}

@media screen and (min-width: 768px) {
  ul li {
    font-size: 1em;
  }
  .multicol {
    column-count: 3;
    column-rule: 1px solid #f00;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
  }

  figure {
    flex: 1 0 50%;
  }

  .blokje {
    inline-size: 30vw;
    block-size: 30vw;
    line-height: 30vw;
  }
  .blokcontainer1 {
    margin-left: calc(50% - 31vw);
    float: left;
  }
  .blokcontainer2 {
    margin-right: calc(50% - 31vw);
    float: right;
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 1024px) {
  ul li {
    font-size: 1.3em;
  }

  .images {
    flex-wrap: nowrap;
  }

  figure {
    flex: 1 0 20%;
  }

  .blokcontainer1,
  .blokcontainer2 {
    width: fit-content;
    float: none;
    display: flex;
    margin: 0 auto;
  }

  .blokje {
    inline-size: 20vw;
    block-size: 20vw;
    line-height: 20vw;
    margin-right: 1em;
  }
}

@media screen and (min-width: 1440px) {
  body {
    inline-size: 70%;
  }
}
